@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ckeditor5-content.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: white;
  font-family: Cabinet Grotesk, ui-sans-serif, system-ui, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html {
  height: 100%;
}
